body {
    background-color: gainsboro;
}

#home {
    position: fixed;
    border: solid;
    width: 60%;
    height: 80%;
    margin: auto;
}

#left {
    float: left;
    border-radius: 10px;
    border: 2px solid black;
    width: 49.4%;
    height: 100%;
}

#right {
    float: left;
    border-radius: 10px;
    border: 2px solid black;
    width: 49.4%;
    height: 100%;
}

.register {
    width: 100%;
    margin: auto;
}

.inputvalues {
    width: 30%;
    margin: auto;
    padding: 5px;
}
#reg_btn {
    background-color: greenyellow;
    padding: 5px;
    color: white;
    width: 25%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}