body {
    background-color: gainsboro;
}

#home {
    background-color: darkgray;
    border: 25px black;
    width: 60%;
    height: 80%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
}

#left {

}

.register {

}