body {
    background-color: aliceblue;
}
div {
    width: 500px;
    margin: 0 auto;
    background: gainsboro;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid black;
}
.form {
    width: 450px;
    margin: 0 auto;
}
.inputvalues {
    width: 430px;
    margin: 0 auto;
    padding: 5px;
}
#reg_btn {
    background-color: rgb(31, 189, 31);
    padding: 8px;
    color: black;
    width: 430px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}